node_modules
!@mycompany/app.js/node_modules
dist
build
sites
stats
.rpt2_cache
.DS_Store
package-lock.json
coverage
.scannerwork
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
!.yarn/patches
.pnp.*
packages/core/stats/*
packages/core/.env
.idea
/scripts/.env
__pycache__
venv
.nx/cache
.nx/workspace-data
.envrc